@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 48 10% 15%;
    --card: 60 50% 96%;
    --card-foreground: 48 10% 15%;
    --popover: 60 50% 96%;
    --popover-foreground: 48 10% 15%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 10%;
    --secondary: 120 10% 80%;
    --secondary-foreground: 120 25% 10%;
    --muted: 120 10% 85%;
    --muted-foreground: 60 8% 40%;
    --accent: 80 61% 50%;
    --accent-foreground: 80 60% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 80 61% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 48 10% 10%;
    --foreground: 60 30% 95%;
    --card: 48 10% 15%;
    --card-foreground: 60 30% 95%;
    --popover: 48 10% 15%;
    --popover-foreground: 60 30% 95%;
    --primary: 120 25% 35%;
    --primary-foreground: 120 25% 90%;
    --secondary: 120 10% 25%;
    --secondary-foreground: 120 25% 90%;
    --muted: 120 10% 20%;
    --muted-foreground: 60 8% 60%;
    --accent: 80 61% 40%;
    --accent-foreground: 80 60% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 10% 25%;
    --input: 60 10% 25%;
    --ring: 80 61% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
